[2016-04-19 14:43] rabbah opened #1 "support running against a local deployment of openwhisk"
A local deployment of openwhisk generally uses a self signed certificate. The base `request` operations should permit an additional configuration parameter to disable rejecting unauthorized TLS. This is particularly helpful for integration testing against a local deployment.

[2016-04-19 14:44] rabbah opened #2 "integration tests require manual setup and cleanup"
In order for a dev to run the integration tests, one has to create seed artifacts manually. Further, if a test fails, its transient artifacts are not reclaimed. The integration tests should perform all required setup and cleanup on termination.

[2016-05-04 14:28] rabbah opened #3 "CI with travis"
Setup a Travis build to periodically run integration test against an openwhisk deployment (or the publicly hosted service).

[2016-10-05 15:09] starpit opened #7 "actions.get does not support packaged actions"
In-package actions have a slash in their namespace. The action.get code is not using encodeURIComponent, thus resulting in erroneous 404s.

[2016-10-06 07:12] #7 closed

[2016-10-14 11:11] jthomas commented on #3
I've now added the basic Travis CI YML to set up running the unit tests for this project.
Talking to @rabbah about getting this module into the NodeJS Action environment, we want to have integration testing set up.

The project does have integration tests already but I'm not sure what the best way to test these against a live OW platform instance from Travis is.

cc @csantanapr & @bjustin-ibm

[2016-11-03 19:53] aslom opened #9 "support specifying kind of action"
currently nodejs is hardcoded

[code]

https://github.com/openwhisk/openwhisk-client-js/blob/master/lib/actions.js#L79

[2016-11-10 18:11] aslom opened #11 "allow default parameters when creating and updating actions"
action.js does not allow to set {"parameters"}

[code]

[2016-11-11 09:09] FintanMcElroy opened #12 "actions.invoke returning a 405 (method POST not supported)"
I was getting errors trying actions.invoke but not getting any error stack back (using .then().catch(err)). actions.list works fine which means my base setup of API key etc was fine. I added a line of instrumentation into base_operation.js handle_errors() which showed that OW was returning a 405 method not allowed.
![ow_error](https://cloud.githubusercontent.com/assets/23357173/20209852/6ab10330-a

[2016-11-13 19:31] jthomas commented on #12
Hello Fintan,

Can you do a few things to help me diagnose this...

- Are you able to provide me the output from the following command?

[code]

**Ensure you redact any confidential information!**

- Could you provide me the source code for the client library invocation?

- It looks like you are on Windows, what version are you using?

[2016-11-14 19:02] jthomas commented on #12
We took this offline to resolve.

[2016-11-14 19:02] #12 closed

[2016-11-15 09:26] jthomas opened #13 "Inconsistent handling of URI encoding."
https://github.com/openwhisk/openwhisk-client-js/blob/master/lib/actions.js#L10

vs

https://github.com/openwhisk/openwhisk-client-js/blob/master/lib/actions.js#L64

Need to always encode the URI.

[2016-11-17 12:22] jthomas commented on #9
This behaviour is actually already supported.
https://github.com/openwhisk/openwhisk-client-js/blob/master/lib/actions.js#L75

If the user passes the `options.action` parameter as an object, the entire property is copied over.
Users can use this to set up the kind property manually.

[2016-11-17 12:22] #9 closed

[2016-11-17 12:31] jthomas commented on #11
If you want to see default parameters whilst creating an action, you need to send the entire action object body, rather than just the source string.
https://github.com/openwhisk/openwhisk-client-js/blob/master/lib/actions.js#L75-L77

[code]

I know this isn't clear from the README, I'll make a note to update it.

[2016-11-17 12:31] #11 closed

[2016-11-17 16:00] #13 closed

[2016-11-19 20:46] rabbah opened #14 "allow initialization for host:port and determine protocol automatically"
rather than init the api like this:
[code]

I'd like to suggest a little bit of convenience:

[code]

where `apihost` allows one to just provide either the `host` or `host:port`.
this can be split to determine protocol as in

[code]

[2016-11-19 21:21] rabbah commented on #3
This pull request will add the package to the base images: https://github.com/openwhisk/openwhisk/pull/1539. We need to resolve #1 and as a bonus #14 as well.

[2016-11-21 11:09] #14 closed

[2016-11-21 11:10] jthomas commented on #14
I've added this functionality as per the use case above.

[2016-11-21 14:30] jthomas commented on #1
The client now suports a "ignore_certs" options parameter in the constructor.

[2016-11-21 14:30] #1 closed

[2016-11-21 15:07] jthomas commented on #3
I've now resolved #1 and #14 with 2.3.0.
What's the next step for this issue?

[2016-11-23 16:55] jthomas opened #15 "Add debugging flags"
Use environment variable to turn on help debugging by dumping more information about API requests to the console.

[2016-12-08 13:46] starpit opened #18 "rule creation fails due to openwhisk api change"
recently, the openwhisk backend introduced a (non-semver!) breaking change to the rule creation API. now, the action and trigger fields must be fully qualified, as in they must include a namespace.

suggestion: if the action or trigger do not have a slash in them, then prepend `'/_/'`?

[2016-12-08 16:07] ErikWittern opened #19 "Actions test uses payload instead of params when sending JSON string"
In the test for invoking an action using a JSON string (`actions.test.js`, line 413 ff) the JSON string is defined in a `payload` field, rather than in the `params` field. Furthermore, it is an empty object, which is equal to the default when no params are provided - so the test will always succeed.

[2016-12-08 16:10] jthomas commented on #19
Hey @ErikWittern, thanks for reporting this!

I'll look into it and get a fix in this week.

[2016-12-09 11:01] #18 closed

[2016-12-09 11:07] #19 closed

[2016-12-09 11:08] jthomas commented on #19
Looking into this, the test is verifying a feature that doesn't exist in the implementation.
I've removed the test, thanks for letting me know.

[2017-01-20 18:08] jthomas opened #20 "Support package bind API"

[2017-01-20 18:28] starpit commented on #20
here is an example curl handshake:

[code]

[2017-01-22 15:02] rabbah commented on #20
i want it too 👍
tag me when it's closed i'll bump the version in openwhisk (or send a pr our way).

[2017-01-23 11:31] jthomas commented on #20
I've discovered this feature is already supported.

[code]

Does that work for you @starpit? cc @rabbah

[2017-01-23 12:12] rabbah commented on #20
Great thanks. Note that to create an action from an option object one has to specify the name of the action also which is asymmetric. I can file a defect/give an example.

[2017-01-23 12:52] jthomas commented on #20
Can you provide an example here and I'll look at it for you?

[2017-01-23 13:33] rabbah commented on #20
[code]

without `actionName: actionName,` the call above will thrown an `Error` (`actionName` required).

[2017-01-23 16:04] starpit commented on #20
awesome @jthomas confirmed

[2017-01-31 14:32] jthomas opened #21 "Updated README with more examples."
The README is light on examples of using the library for common tasks, focusing more the API documentation.

We should re-work the file to add more of these common usecases to help developers.

People have recently been asking about retrieving package details, including credentials, invoking actions and triggers amongst others.

[2017-02-06 20:27] ddragosd opened #25 "support default parameters for actions"
When creating an action it would be great to be able to provide default parameters.

[2017-02-07 15:45] jthomas commented on #25
https://github.com/openwhisk/openwhisk-client-js/pull/26 @ddragosd is working on this.

[2017-02-07 16:51] jthomas commented on #21
I've now moved examples to a new section to make this more explicit.

[2017-02-07 16:51] #21 closed

[2017-02-10 17:06] starpit opened #28 "feature request: support "name" for get, invoke operations"
right now, i find that my code is littered with things like:
[code]

it seems preferable to me to write:
[code]

but i can't, because the `get` and `invoke` operations require `triggerName`, or `actionName` or `packageName` or `ruleName` rather than just `name`.

on top of this, having an `invokeAll` or `getAll` command would be nice, so that i could write
[code]

and having a simple projection me

[2017-02-10 17:33] jthomas commented on #28
This is a good idea. I would need to bump the version number as this would be a breaking change.

We should probably review the API to see what other usability changes we can include if we're going to push out a major version upgrade.

[2017-02-10 17:51] rabbah commented on #28
support both for backward compatibility?

[2017-02-10 18:12] starpit commented on #28
as long as we prefer `xName` to `name`... this should be sufficient, in terms of backwards compatibility? the only cases i can think of are those that, before, would in an error, that now will not: `ow.actions.create({name: 'foo'}) would before result in an error, and now succeed...

perhaps that is ok?

[2017-02-10 18:15] rabbah commented on #28
+1 that's better than breaking all the existing actions. since we just forced everyone to get off whisk.js would be nice not to make another forced change.

[2017-02-10 18:36] starpit commented on #28
i just added a **projection** suggestion to the initial feature request comment (i.e. at the top)

[2017-02-13 13:47] jthomas commented on #28
### Supporting Different Parameters

I'm going to support the resource identifiers returned by the platform API to chaining promises together. This will be `name` in most examples but there are additional edge cases like `activationId`.

I will maintain support for the existing parameter names for backwards capability.

### Support String Parameters

I also might support passing in the identifier

[2017-02-14 01:33] starpit commented on #28
this all seems reasonable. thanks!

[2017-02-14 19:43] ioana-blue opened #29 "Feature request: Result only flag for action invoke"
Is there an option similar to the `-r` in the `wsk` cli that returns only the result of the invocation (used together with `-b` or `blocking = true`)? I'd use it all the time :)

On a related note, I don't think I understand how this example in the readme works:

[code]
IIUC the result of the invocation will contain not only the "result", but all the other meta data (e.g., duration, name, annotati

[2017-02-14 22:39] tareqmamari commented on #29
result object contains the whole response (of the invocation request) from OpenWhisk. Now, to access the result of the execution, you can directly access it from the nested-object "response". In other words, you can get the result of the action execution as:

[code]
So, from your example, to access the reversed string: `result.response.reversed `.

I hope this can help.

[2017-02-15 03:07] ioana-blue commented on #29
@tareqmamari Thanks for confirming my understanding. Note that the example above it's not "my" example, it's the example in the documentation of the client here:

https://github.com/openwhisk/openwhisk-client-js#invoke-action-blocking-for-result

which I thought it was wrong (and you confirmed, thanks!)

[2017-02-15 04:58] tareqmamari commented on #29
yes exactly, maybe it will be a good idea to mention that in the docs.

On Feb 15, 2017 4:07 AM, "Ioana Baldini" <notifications@github.com> wrote:

[2017-02-15 09:30] jthomas commented on #29
@ioana-blue This should be easy to implement. I'll add it to the list of things to do :)

[2017-02-16 16:09] jthomas commented on #28
I've been refactoring the library to make supporting these features easier. `id` is now supported along with the old style.

Remaining items.

- [ ] update docs with new features
- [ ] support string identifiers
- [ ] support array of identifiers

[2017-02-25 19:01] jthomas commented on #28
This is now ready with v3.3.0.

[2017-02-25 19:01] #28 closed

[2017-03-01 00:30] kerryspchang opened #33 "action.get does not return parameters bound to an action"
Whisk's CLI returns parameters bound to an action when using "wsk action get" (in an array called "parameters" that has objects storing each parameter's name and value).

But the parameter information is gone in the nodeJS library when using actions.get - the parameters array is always empty (or only has an "_actions" object for a sequence action).

[2017-03-01 10:04] jthomas commented on #33
Thanks for reporting this. I'll look into it.

[2017-03-03 17:37] jlost opened #35 "TypeScript Typings"
TypeScript definitions at @types/openwhisk would be helpful.

[2017-03-03 20:28] csantanapr commented on #2
I was not able to run the integrations tests running `npm run test-integration`

[2017-03-08 14:32] jthomas commented on #2
@csantanapr Can you provide more details about what exactly failed?

I have run them recently and didn't have any issues but that's using my setup :)

[2017-03-08 14:32] jthomas commented on #35
I'm not familiar with TypeScript, can you explain what this would be and why it is useful?

[2017-03-08 14:39] rabbah commented on #35
types FTW!

[2017-03-08 15:41] jlost commented on #35
TypeScript helps you defined _explicit_ contracts for your JavaScript and mark up your code with type definitions. Strong type checking in your code prevents many common errors, enforces explicit interfaces (self-documenting code), and enables intellisense / code completion.

Since Angular 2 embraced TypeScript, it has really gone mainstream and is commonly used with NodeJS. TypeScript definitions

[2017-03-08 17:34] jthomas commented on #35
Thanks for explaining - that sounds like a good idea.

If you would like to work on this, I'd be happy to accept this into the project.

[2017-03-08 18:23] starpit opened #39 "regression: global namespace no longer matters"
at some point a change was made that breaks code that relies on the global `namespace` field, i.e. the one provided with the openwhisk constructor.

now, the namespace is either the per-request `options.namespace` or `names.default_namespace()`, the latter of which does not pay attention to the global option:

[code]

this breaks our code. luckily we are still pre-production, or this would've been

[2017-03-08 18:28] starpit commented on #39
btw, this was very difficult to debug, because the error reporting from the npm is scant. perhaps have an option to report verbose errors, where the details of the (failed) request are emitted?

[2017-03-08 18:33] rabbah commented on #39
That would help. In particular don't swallow the error response from the controller if that happening - the container code would help debug user problems.

[2017-03-08 18:55] lionelvillard opened #40 "Add support for error response coming out of OpenWhisk action invocation"
action being invoked:

    function main(args) {
        return new Promise((resolve, reject) => { reject({ statusCode: 404 }) };
    }

The invocation of this action through the REST API produces this response:

   {
     "error": {
         "statusCode": 404
     }
   }

However OpenWhisk Client expect the statusCode to be at the top-level, and I think we should change this behavior to also supp

[2017-03-09 00:01] csantanapr commented on #2
Could you try setting up travis and see what you come up with?

There are no instructions what environment variables I need to set before running the tests, namespace should not be required, user should be able to just use `_` but the tests query the api and use the namespace value `carlos@email.com_dev` to check

Also I had a package demo/ with action hello in my namespace, one of the tests faile

[2017-03-09 08:59] jthomas commented on #2
Did you see these instructions?
https://github.com/openwhisk/openwhisk-client-js/tree/master/test/integration

I've been using a "test" namespace with the assets in to isolate the results.

[2017-03-09 10:17] csantanapr commented on #2
No I didn't saw them 🤦‍♂️

But they are manual steps we should not have any manual steps
And user should not set namespace value we should use _ and then use the ok to get the namespace value

[2017-03-09 13:42] #39 closed

[2017-03-09 13:48] jthomas commented on #39
I've pushed a fix to remove the regression and published a new version. I've added a unit test to ensure this doesn't happen again.

The precedence order for calculating namespaces is: options.namespace, global_options.namespace, env param, ‘_'.

I agree that we should have a debug property to dump the raw requests & responses. I did open a ticket a while ago to add this.
https://github.com/openwh

[2017-03-09 13:48] jthomas commented on #2
We should put a note in the README.md with a link to that document.

[2017-03-09 13:51] jthomas commented on #40
Thanks for the suggestion. I need to review the error reporting to make it more robust and will look at this.

[2017-03-10 17:55] jthomas commented on #39
I found some more edge cases thanks to @starpit and pushed out the fixes.

[2017-03-10 18:25] jthomas commented on #3
@csantanapr & @rabbah given some of the recent issues, I'd like to get the Travis CI set up running the integration tests to catch library bugs and platform API changes.

Do we have an integration environment I can point to?

[2017-03-10 22:31] csantanapr commented on #3
What you mean an integration environment to point.

You need to git clone OpenWhisk from git repo and build and deploy during Travis locally and the run your tests against local OpenWhisk running on Travis

We have several repos that do this already, I did one recently for apigateway and got the build down to 14 minutes to build and deploy OpenWhisk only with nodejs runtime installed.

[2017-03-10 22:34] csantanapr commented on #3
See the following Travis configuration file
https://github.com/openwhisk/openwhisk-apigateway/blob/master/.travis.yml

The setup and build scripts are the ones related to OpenWhisk

So the direction will be to run
Setup to git clone OpenWhisk
Build to build and deploy OpenWhisk with gradle and ansible
Then configure env and CLI to point to local OpenWhisk apihost using guest namespace
Then run npm

[2017-03-11 07:18] jthomas commented on #3
Thanks for explaining, I didn't think of that approach.
I'll see if I can set this up.

[2017-03-11 08:52] jthomas commented on #15
I've been looking into surfacing HTTP traces to assist debugging issues. This library uses the request npm module as the HTTP client. I've discovered this library supports a configuration flag to dump HTTP traffic.

[code]

Here's an example of the output for the following code.
[code]

[code]

This looks like a good solution for helping to get HTTP traffic when encountering issues.
@rabbah & @sta

[2017-03-11 11:05] csantanapr commented on #3
I can help

[2017-03-14 17:05] starpit opened #41 "odd SSL error when passing large payloads"
try calling `ow.packges.get({name:"foo", junk: "SOME VERY LARGE PAYLOAD"})`

if the payload is too big (in my case, 330k), you will get back an odd SSL error:

[code]

[2017-03-16 16:54] kerryspchang commented on #33
Have you had time to look into this?

[2017-03-16 21:15] jthomas commented on #33
I have not. I'll update the ticket when I investigate. This is not high on my priorities list at the moment.

If you want to investigate and submit a PR, I'll happily merge.

[2017-03-17 00:03] pjdurai opened #42 "Are multiple openwhisk() objects supported ?"
Greetings

I am looking into the JS api and have a question.

var options = {apihost: 'openwhisk.ng.bluemix.net', api_key: '...'};
var ow = openwhisk(options);

Is it possible to have multiple 'ow' objects , with different API key/Namespace combos in the same Node.js application?

Does the library have any global/singleton properties that preclude that kind of usage?

Thanks
pj

[2017-03-17 01:26] csantanapr commented on #42
yes every `openwhisk(options);` it's a `new` instance
https://github.com/openwhisk/openwhisk-client-js/blob/master/lib/main.js#L12

[2017-03-17 01:26] #42 closed

[2017-03-18 15:39] jthomas commented on #33
Hello @kerryspchang, I've tested with with a sample action and can see the default parameters coming back.

[code]
Can you provide a test case?

[2017-03-18 17:36] #25 closed

[2017-03-18 17:36] #29 closed

[2017-03-18 17:36] #40 closed

[2017-03-18 17:41] jthomas commented on #40
I've added support into the error handling code for this.

[2017-03-18 17:42] jthomas commented on #25
@ddragosd I've done a lot of re-factoring so I've merged your code into the current code base. This is now supported. Thanks for the suggestion!

[2017-03-18 17:55] ddragosd commented on #25
Thanks a lot @jthomas. I didn't have the time to finish the integration tests so it's super you were able to integrate it with the refactoring.

[2017-04-12 10:41] jthomas commented on #33
Is this issue still happening? If so, do you have test data I can check?

[2017-04-12 10:53] starpit commented on #15
For me, the main thing is being specific about failures. The cli has the same problem (and itself had open issues on this very point).

Right now, I neither get specifics a out my failing request, nor (and worse, in my opinion) a helpful stack trace. The stack trace is blinded by some async intermediary.

With the proposal, I would... Have to return my failing request? This won't help with prod fa

[2017-04-12 11:05] jthomas commented on #15
I've added information about this feature to the README.
https://github.com/openwhisk/openwhisk-client-js/blob/master/README.md#debugging

Turning this on at runtime can be done like....
[code]

[2017-04-12 11:09] jthomas commented on #15
@starpit I agree that the error responses from the library could be more helpful but I think some of that is due to that platform responses.

I'm going to close this ticket as resolved and can we open another issue for error messages and discuss requirements?

[2017-04-12 11:09] #15 closed

[2017-04-12 11:28] jthomas opened #45 "Improve Developer Experience when errors occur"
If the platform returns an API error, the library parses any error text and wraps it in a generic error response.

Here's an example of creating an action for an invalid namespace.

[code]

This does not give the developer much help to understand where the error occurred and why.

Ideas for improving this from @starpit
- Provide more descriptive names in error message, rather than `BaseOperationEr

[2017-04-13 20:41] mimy2001 opened #47 "Create Trigger Feed failing with Check syntax errors message"
Hi I'm trying the sample code:

create trigger feed from alarm package

// for example...
const params = {cron: '*/8 * * * * *', trigger_payload: {name: 'James'}}
const name = '/whisk.system/alarms/alarm'
const trigger = 'alarmTrigger'
ow.feeds.create({name, trigger, params}).then(package => {
  console.log('alarm trigger feed created')
}).catch(err => {
  console.error('failed to create alarm tri

[2017-04-13 21:55] rabbah commented on #47
Is this an issue with the client or missing parameters to the feed? (@jasonpet FYI)

[2017-04-13 22:03] mimy2001 commented on #47
I'm just trying to test the sample code provided on the main page.  See full js file below (the commented out code works, I'm able to create the action without any problems, it's only the feed that doesn't work)  On the CLI i can also create the trigger no problem with the following command:

$ wsk trigger create alarmTrigger --feed /whisk.system/alarms/alarm -p cron "*/8 * * * * *"  -i
ok: invoke

[2017-04-13 22:06] mimy2001 commented on #47
let me know if you need additional logs or information

[2017-04-14 10:57] jthomas commented on #47
Have you already created the trigger (`alarmTrigger`) that this feed relies on?

This error message is consistent with the feed referencing a trigger that does not exist.

The error message returned is not helpful to understanding when this error occurs. We have an open issue (#45) to improve error messages returned from the API. I'll add this as an example to investigate.

I'll update the README.

[2017-04-14 19:30] jthomas commented on #45
I've re-written the error message code to include the URL, HTTP method, response code and body error message. Here's the example for an invalid namespace.

[code]

[2017-04-14 19:30] #45 closed

[2017-04-17 14:20] mimy2001 commented on #47
@jthomas Yes, I figured out the same thing later that day when I printed out the status code returned and tested some code to add a trigger first.  That's exactly what was wrong with my code.  I needed to create the trigger associated with my feed in my code first.  Thanks for your help.

[2017-04-18 08:55] #47 closed

[2017-04-18 18:56] jlost opened #48 "Many Action Invocations: EPIPE / PROTOCOL_CONNECTION_LOST"
Hi, I'm invoking many actions from inside a parent action over a long (3-5 mins) period of time. We're running against an on-premises OpenWhisk cluster. The code invoking the actions is along the lines of:

[code]

Error If blocking = true:
[code]

Error If blocking = false:
[code]

Even though more OW instances were added to our cluster, it also doesn't seem like the actions aren't completing qui

[2017-04-18 20:44] jthomas commented on #48
Thanks for the detailed error report. It looks like the issue might be with the openwhisk platform rather than the client library.

@rabbah @markusthoemmes @jasonpet - have you encountered this error before?

I think it might make sense to move this ticket over to the core project.

[2017-04-19 03:53] rabbah commented on #48
Did you rule out the sql server being down? The error suggests the action is failing to either connect or hold the connection to the sql server.

I don't understand how the non blocking invoke is change the behavior in the way you describe, yet. I assume you are _returning_ the promise from your main function (and the code snippet above just doesn't show that).

[2017-04-19 03:54] rabbah commented on #48
btw since you are running in your own cluster, you can elect to bump the activation throttles (the default is 60 per minute but that too low if you have a cluster with many invokers).

[2017-04-20 17:27] jlost commented on #48
Thanks all, I think this particular problem might have been caused by not having proper backpressure on the MySQL server. When I added a pause after "bufferCount" and an unpause on "subscribe", I was able to move past the EPIPE error. My best guess is that the Node.JS process had an out of memory error, and it wasn't handled particularly gracefully by OW, resulting in the EPIPE error.

However, I

[2017-04-20 17:27] #48 closed

[2017-04-21 14:00] jthomas opened #49 "Working with Feeds should manage related Trigger annotations"
The CLI and OW web UIs add an annotation to triggers to associate them with feeds when creating new trigger feeds.

This means that when that trigger is deleted, the feed can be notified.

The SDK does not implement this behaviour. This means that if someone creates a new trigger feed, deletes it and tries to re-create it, it may fail based on the implementation of the feed provider.

The behaviou

[2017-04-25 15:11] #33 closed

[2017-06-15 15:43] jthomas opened #52 "Deprecate "experimental" API Gateway"
OpenWhisk's API Gateway service has moved from "experimental" to "release". The API path has changed between the versions.

The library has been updated to support both API endpoints recently, using a configuration parameter to control which one to use.

We need to remove the old API from the library. This will be a breaking change and need to be a major release.

[2017-06-15 17:28] starpit opened #53 "Pass through statusCode on failure"
on error, the HTTP statusCode is swallowed up into strings. it is helpful to have direct access to the statusCode integer

[2017-06-16 07:32] jthomas commented on #53
LGTM

[2017-06-16 13:27] #53 closed

[2017-07-06 20:11] jakub-gawlas opened #56 "[Error][minikube] ENOTFOUND nginx.openwhisk nginx.openwhisk:443"
Hi folks!

I deploy OpenWhisk locally on minikube and it's my action:
[code]
Result of invoke it is error:
[code]

Maybe someone experienced similar issue and can help?

Cheers 🥂

[2017-07-08 11:32] jthomas commented on #56
Hello @jakub-gawlas, can you give me a link to the instructions you followed for running OW on Minikube? I'll spin it up locally and try it out.

[2017-07-08 11:53] rabbah commented on #56
This sounds like a dns issue with kubernetes. If you can't resolve nginx.openwhisk from inside an action container you can't reach the edge gateway.

@DanLavine or @bbrowning may be able to help.

[2017-08-04 15:30] ert78gb commented on #35
I could help, but I think better if the code convert to typescript. Every js file is typescript file

[2017-08-04 17:29] jlost commented on #35
I ended up making some typings as I went, but nothing accurate enough to publish... Maybe I'll throw them here anyway in case others want to chip in.

[2017-08-07 13:58] jthomas commented on #35
Having TypeScript typings is something that would be useful for the project. Converting the entire project to TypeScript is not a priority for the project at the moment.

@jlost I'd be interested to see the resources you have, how did you create them?

[2017-08-07 18:10] jlost commented on #35
Example:

[code]

I created this by hand by looking at actual OpenWhisk activations.

A good halfway point for this project would be JSDoc, which would formalize the interfaces enough to make TS definitions easy to create and also power code completion within editors. That way you don't have to learn or implement any extra tools.

[2017-08-10 20:36] bjustin-ibm commented on #3
Resolved by #59

[2017-08-10 20:36] #3 closed

[2017-08-10 20:38] bjustin-ibm commented on #2
Resolved by #59

[2017-08-10 20:38] #2 closed

[2017-08-24 00:35] #52 closed

[2017-09-07 14:23] lionelvillard opened #69 "Routes: Support for swagger"
Add support for routes.create({swagger:...})

[2017-09-07 19:54] lionelvillard opened #70 "Routes: support for apiName"

[2017-09-07 19:57] lionelvillard opened #71 "routes: support for routes.get"

[2017-10-08 22:09] rabbah opened #75 "support optional leading slash in fully qualified names"
the leading slash in a fully qualified name is optional but appears to break the library here if it's not specified.

for reference, see: https://github.com/apache/incubator-openwhisk/issues/2328

[2017-10-20 02:28] starpit opened #77 "consider switching from request-promise to needle"
request-promise depends on request, which is very slow to load: https://github.com/request/request/issues/2261

that issue aligns with my experience.  namely, that request-promise, due to request, can take anywhere from 120-250ms to `require` on mac and linux.

on windows 10, apparently due to windows defender, it can take 10 times as long! sometimes multiple seconds!

an alternative is needle: ht

[2017-10-20 03:26] starpit opened #79 "Add tests to improve coverage of error handling"
Is it possible that the current test suite has no coverage of error handling? Because

1) earlier versions of PR  #78 didn't do proper error handling, but all of the integration and functional tests passed

2) with proper error handling, the PR still fails, because the codecov tool complains that the lines having to do with error handling (in my update) are not covered by tests!

[2017-10-20 08:07] jthomas commented on #77
:+1: on this. I had thought about moving away from `rp` before due to the size. Hadn't realised it had performance issues like this.

Didn't know about `needle`, looks like a drop-in replacement.

Provided all the tests pass this LGTM.

[2017-10-20 08:14] jthomas commented on #79
The client does have error handling tests in https://github.com/apache/incubator-openwhisk-client-js/blob/master/test/unit/client.test.js#L124-L142

Do the tests need to be more comprehensive to catch the new code?

[2017-10-20 12:31] starpit commented on #79
I see. Yes, there may be a test gap for eg requesting a non existing action, package, etc. Or non-overwriting creates against an existing name, etc.

[2017-10-20 17:53] #77 closed

[2017-10-20 17:53] #79 closed

[2017-11-09 10:20] jthomas commented on #75
The client library [currently supports](https://github.com/apache/incubator-openwhisk-client-js/blob/master/lib/names.js#L15-L30) the following resource identifiers.

[code]

If we want to support a missing forward-slash for fully qualified names, how does the API differentiate between `package/action` and `namespace/action`.

Does it only support that the missing forward slash for actions within

[2017-11-09 11:21] rabbah commented on #75
This is the backend change that was implemented for reference in the cli https://github.com/apache/incubator-openwhisk/pull/2424/files

Three parts: unambiguous hence can drop leading slash.

[2017-11-09 13:58] jthomas opened #82 "`routes` methods should interact with API GW directly, not through web actions"
This client library currents copies the the CLI tool in interacting with the API GW service through [web action proxies](https://github.com/apache/incubator-openwhisk/tree/master/core/routemgmt), rather than interfacing with the [APIGW API](https://github.com/apache/incubator-openwhisk-apigateway/blob/master/doc/v2/management_interface_v2.md).

Migrating the implementation to talk directly to the

[2017-11-10 17:16] jthomas opened #86 "3.10.0 release"
Once the following PRs have merged, the next release can drafted and made available on this repo. npmbot should automatically publish to NPM.

## outstanding PRs

* #85
* #83

## notes for release page

* Added new features to `routes()` methods. API name parameter and swagger route definition now supported. Route retrieval method included. (#69, #70, #71)
* Swapped HTTP client library from [reque

[2017-11-10 17:24] #75 closed

[2017-11-10 17:31] #69 closed

[2017-11-10 17:31] #70 closed

[2017-11-10 17:31] #71 closed

[2017-11-10 17:37] csantanapr commented on #56
Open issue in kube repo asking how an action can address the controller or nginx from inside.
https://github.com/apache/incubator-openwhisk-deploy-kube/issues

Nothing we can do in this client-js to fix this.

[2017-11-10 17:37] #56 closed

[2017-11-10 17:39] csantanapr commented on #41
@starpit is still a problem?
Why are you passing large data on a get?

Maybe a different use case a post (50mb)  or put (1mb)?

[2017-11-10 17:41] csantanapr commented on #86
@jthomas merged #83 and #85

[2017-11-10 17:41] csantanapr commented on #86
I will tag 3.10.0

[2017-11-29 14:11] starpit opened #89 "socket hangup issues due to slow connection open"
we inherit needle's default connection-open timeout of 10 seconds. this seems to result in socket hangup errors. i'm not sure what the right solution is here, but wanted to raise awareness of it.

 - option 1: the user of this library has to retry
 - option 2: we update the openwhisk npm to retry, according to a policy established by the caller (e.g. maxRetries)
 - option 3: we increase the connec

[2017-11-29 18:50] starpit commented on #89
more info: this is actually an issue with the needle library, in the way it interprets or implements open timeout: https://github.com/tomas/needle/issues/229

[2017-12-01 16:55] jthomas commented on #89
Interesting bug!

Reading the issue you reference, looks like they might resolve the bug in needle soon? If so, this should resolve this issue for us?

[2017-12-01 17:26] starpit commented on #89
the owner of needle has a fix in the works. i've reviewed it, and it seems reasonable. i think it'll address our bug.

[2017-12-07 11:58] #89 closed

[2017-12-07 12:05] jthomas commented on #86
@csantanapr This can be closed as implemented.

[2017-12-07 12:05] #86 closed

[2017-12-07 12:06] csantanapr commented on #86
Yes it can be closed 👊 @rabbah @jthomas

[2017-12-07 12:13] jthomas opened #91 "3.11.0 release"
Minor release, rather than patch, as #88 is a new feature.

## release notes

### 3.11.0 (2017.12.07)

- Added client library support for updating trigger feeds (#88)
- Updated version of [needle](https://github.com/tomas/needle) to 2.1.0 to resolve timeout issues with HTTP library (#90)

## process

- `npm version minor` to bump `package.json` to 3.11.0
- Push version commit and git tags to Githu

[2017-12-07 12:20] csantanapr commented on #91
@jthomas can you open PR with the package.json update?
I will merge it, If I open the PR I can’t merge it myself 🙄

[2017-12-08 14:19] csantanapr commented on #91
push and PR for nodejs runtime open https://github.com/apache/incubator-openwhisk-runtime-nodejs/pull/18

[2017-12-08 14:19] #91 closed

[2017-12-09 23:27] epatters commented on #89
Thanks @starpit and others for your responsive handling of this issue. I see that the fix has just been incorporated into the runtime (apache/incubator-openwhisk-runtime-nodejs#18), so hopefully it will hit Bluemix soon.

Incidentally, I now understand why this bug manifested only recently: it coincided with the switch from promise-request to needle in this library (#78), which landed in v3.10.0 (

[2017-12-11 17:12] jthomas opened #93 "Allow updating action parameters without including action body"
`wsk` cli allows setting new default parameters without updating the action body. This library treats the `action` parameter as mandatory for update operations.

Need to update the `actions.update` method to support this.

[2018-01-10 17:25] jthomas opened #94 "Remove namespace list method."
API endpoint is being removed as per the discussion in:
https://github.com/apache/incubator-openwhisk/issues/3153

This should be replicated in the client library and published as a new major version.

[2018-01-10 18:16] starpit commented on #94
can we sugar this in the npm? rather than having all clients sugar it?

[2018-01-10 23:48] rabbah commented on #94
promise.all(actions.list(), packages.list(), ...)?

[2018-01-10 23:49] starpit commented on #94
almost, each of the component promises needs to be .catch'd. i don't think we want the whole thing to fail fast if any one list call fails?

[2018-01-10 23:52] rabbah commented on #94
To a first approximation, id think so - in case of error for one of the lists would you return an empty list in the catch?

[2018-01-10 23:58] starpit commented on #94
this sounds good. do we need a side-band to report partial success? how does the backend API behave in this respect? if it fails fast, then we could just mimic that.

[2018-01-11 12:47] jthomas commented on #94
Do people use this API endpoint regularly today? Is it used through the SDK in some of the project tools?

The client library has been kept as a thin wrapper over API until now. I was favouring removing this API, as the platform has, rather than shimming for this reason and as it didn't seem to have an obvious usage for most developers.

If we do use this a lot in other projects, that makes sense

[2018-01-11 13:35] starpit commented on #94
we did get a feature request for it in the shell. i was mostly hoping that we could break the backend, while breaking as few clients as possible. we could control this, by shipping an updated npm with the updated backend, etc.

i'd be ok marking the npm API as `@deprecated`

[2018-01-11 16:50] jthomas commented on #94
@starpit If you have usage in shell, let's merge the PR above. It's simple enough.

[2018-01-12 18:51] #94 closed

[2018-02-22 17:45] lionelvillard opened #97 "ShortDesc type should declare name as optional"
`ShortDesc` represents both request response type as well as request body, which does not have `name` field.

[2018-03-04 09:49] dubeejw opened #100 "Travis Test Breakage"
Travis is currently failing for this repo due to a trigger test failure.

Test output:

[code]

[code]

[2018-03-04 11:46] csantanapr commented on #100
Ah is this because the fire trigger API changed in the backend?

I guess the test can be fixed by adding a rule and dummy action echo so the fire response back with 202 and activation id

[2018-03-11 14:56] ScottChapman opened #101 "please add ignore_certs env var"
When running test code for openwhisk actions it is often necessary to ignore certificates since it is running openwhisk in travis. It looks like the other constructor parameters are already handled this way.

[2018-03-11 15:04] rabbah commented on #101
You can pass a parameter:

ignore_certs. Turns off server SSL/TLS certificate verification. This allows the client to be used against local deployments of OpenWhisk with a self-signed certificate. Defaults to false.

If you’re running locally you can also set NODE_TLS_REJECT_UNAUTHORIZED

[2018-03-11 15:26] ScottChapman commented on #101
Yes, I am currently doing that in order to run my test code. In my particular case I have an action that is using this module to be able to invoke other actions.

I don't want to have to change my production action code to always ignore certificates.

If this env var was available then I could include the variable in my travis config, and when tests are run certs would be ignored. But they would b

[2018-03-11 15:29] csantanapr commented on #101
We could improve the library by detecting if apihost its an IP address then ignore ssl if it’s a hostname then do not ignore.

[2018-03-11 15:46] rabbah commented on #101
It’s a heuristic that would be prone to error. I use an alias “openwhisk” as my api host for my local deployment.

I’d rather have an explicit toggle (param, env var), or use the http port instead (10001).

[2018-03-11 15:51] starpit commented on #101
i think scott is simply suggesting that the openwhisk npm be updated to accept an env var for ignore_certs. it accepts env vars for everything else, already:

https://github.com/apache/incubator-openwhisk-client-js/blob/master/lib/client.js#L64-L72

note the conspicuous anomaly of `ignore_certs`

i'd like to go further, and have the npm parse out `process.env.WSK_PROPS_FILE || ~/.wskprops`

[2018-03-11 15:56] rabbah commented on #101
Why not just set NODE_TLS_REJECT_UNAUTHORIZED

[2018-03-11 15:57] starpit commented on #101
Maybe users want to be more selective.

[2018-03-11 15:58] rabbah commented on #101
The wsk prop file doesn’t help. We rejected the pr which records the certificate validity.

[2018-03-11 16:00] rabbah commented on #101
I’m just pointing out we have at least three ways to achieve the workaround today: parameter, node’s own env var, or use an http port.

[2018-03-11 16:06] starpit commented on #101
i do see what scott is after. he doesn't want to have to modify his code for various setups. i certainly wouldn't feel comfortable disabling cert checking globally (for all sites). he could introduce the env var support in *his* code (`ignore_certs: process.env.IGNORE_CERTS`), but why not just have this support in the npm directly?

going further: openwhisk already passes __OW_API_HOST, etc. why n

[2018-03-11 16:10] csantanapr commented on #101
FWIW I had same problem on swift4 sdk testing and use an override baseURL and use controller host and port 10001

[2018-03-11 16:34] rabbah commented on #101
Scott can you clarify how you’re developing and running?

Are you writing js/node code and running it with node against a local openwhisk deployment, or are you creating actions and running them using a local openwhisk deployment?

If it’s the former, your best option is to use the node tls setting or change the api host to use http://...:10001. If it’s the latter you will need to pass the ignore

[2018-03-11 16:39] csantanapr commented on #101
I really like this better to deploy in Travis and configure ssl cert and local hostname
But this brings two difficult problems to solve how to configure the dns for the action runtime and how to insert the certs to trust the certificate.
I think is doable by pulling the runtime and then modifying the image or rebuildin with the dns and certs inside the image.

Enabling port 80 and using http on th

[2018-03-11 16:42] csantanapr commented on #101
I just realized I’m an idiot I should have done this for swift4 ssl sdk problem 🤦‍♂️

[2018-03-11 19:08] ScottChapman commented on #101
@rabbah - I am building a "Template" for IBM Cloud Functions. Part of that is to implement automated tests that run in a travis build. Nearly all the actions in my Template leverage other actions in the same package (using this node module).

I can imagine it would be a useful feature during dev/test to be able to run against essentially an insecure openwhisk deployment.

My request is simply to m

[2018-03-11 19:14] rabbah commented on #101
Thanks for the clarification. So these are actions. The constructors accept the namespace and api host optionally from the environment. These are provided by the backend. So we would need back end support, part of a deployment, to enable a new environment variable to toggle the TLS verification.

The way I’ve done this in my own code is to set the ignore cert parameter in the constructor using arg

[2018-03-11 19:23] ScottChapman commented on #101
Yes, I've similarly implemented a work-around by altering my code, and modified my travis. I'm doing it as a package param, but still my code needs to leverage it.

I do understand that there would need to be some backend support. Sort of surprised it doesn't exist already so that actions running in a dev OW deployment can leverage actions in the same environment in a similar fashion.

But yea, I

[2018-03-12 04:04] csantanapr commented on #101
@rabbah

Just to be sure we want to disable tls only for whisk api but we should not disable for other external url (ie watson url, weather api url, etc)

[2018-03-13 16:15] jthomas commented on #100
@csantanapr is correct. Fixed.

[2018-03-13 16:31] jthomas commented on #101
I think having `ignore_certs` as an env param is a valid suggestion. It'll be consistent with setting other properties using env params and doesn't require you to disable cert checking for all hosts using the global node env params.

This should be `__OW_IGNORE_CERTS` to be consistent with the other params.

@ScottChapman would you be comfortable opening a PR for this? It should be a simple change

[2018-03-13 17:39] rabbah commented on #101
@jthomas this would be ok if running locally with node. We do not know in a deployment if the certificate is trusted or not. This is the aforementioned backend support which would be required.

[2018-03-13 18:00] ScottChapman commented on #101
@rabbah - shouldn't that be defined as part of the configuration of the deployment? I would think you would have the same issue with any of the client libraries you are making available for action development. I would expect that any deployment setup and configures the defaults to be used by the clients.

@jthomas - I think you probably want someone more familiar with doing development on this pac

[2018-03-13 18:03] rabbah commented on #101
We don’t have such a setting today - so we’d need to think about how to add it, thread it through the invoker, and into the runtimes containers.

[2018-03-13 18:04] rabbah commented on #101
Why? This is specific to openwhisk actions making an openwhisk api call. Any other client issue would be beyond scope.

[2018-03-13 18:52] ScottChapman commented on #101
@rabbah - right, exactly; that's what all the client libraries do. They shouldn't require any customizations to be able to run in a deployment. They should be picking that up from the deployment environment itself. I understand that what you are saying is that this isn't what is happening today. I am just saying as a developer that's how I would expect it to work...

[2018-03-13 20:21] #100 closed

[2018-03-14 02:59] csantanapr opened #103 "3.13.0 release"
Minor release, rather than patch, as #99 is a new feature.

## release notes

### 3.13.0 (2018.03.14)

- Adds an optional query parameter for action fetches that determines if action code will be retrieved or not (#99)

## process

- `npm version minor` to bump `package.json` to 3.13.0
- Push version commit and git tags to Github
- Travis CI will auto-publish new version to NPM
- Draft [Github rel

[2018-03-14 03:34] #103 closed

[2018-03-14 17:35] csantanapr commented on #97
Closed by #98

[2018-03-14 17:35] #97 closed

[2018-03-15 07:51] jthomas opened #106 "3.13.1 release"
Patch release to resolve bug in 3.13.0

## release notes

### 3.13.1 (2018.03.15)

- Fix support for string parameter in `action.get` API (#105)

## process

- `npm version patch` to bump `package.json` to 3.13.1
- Push version commit and git tags to Github
- Travis CI will auto-publish new version to NPM
- Draft [Github release](https://github.com/apache/incubator-openwhisk-client-js/releases) fr

[2018-03-15 09:55] #106 closed

[2018-03-23 05:14] csantanapr opened #108 "can't use count when listing entities"
count=true|false is a valid query parameters for entity (actions, triggers, rules, activations) listing

specially handy for counting activations and combining with since for a specific action:
[code]
Ref: https://gist.github.com/csantanapr/ce5856f9ad9bb5a18a1882969569048d

[2018-03-23 11:40] #108 closed

[2018-03-26 18:23] csantanapr opened #111 "3.14.0 release"
## release notes

### 3.14.0 (2018.03.26)

- Add support to count entities with list (#109  )

## process

- `npm version patch` to bump `package.json` to 3.14.0
- Push version commit and git tags to Github
- Travis CI will auto-publish new version to NPM
- Draft [Github release](https://github.com/apache/incubator-openwhisk-client-js/releases) from tags with notes above.

[2018-03-27 17:29] #111 closed

[2018-04-18 14:01] roele opened #113 "Build via react-scripts fails due to ES5 incompatibility"
Using 'openwhisk' in context of a React app (created with `create-react-app`) is causing `react-scripts build` to fail due to ES5 incompatibility.

[code]

[2018-04-30 16:03] #101 closed

[2018-04-30 16:14] jthomas opened #115 "3.15.0 release"
## release notes

### 3.15.0 (2018.04.30)

- Add support for `secure_key` parameter for `ow.routes.create` (#114 )
- Environment parameter for setting configuration `insecure` flag. (#110)

## process

- `npm version patch` to bump `package.json` to 3.15.0
- Push version commit and git tags to Github
- Travis CI will auto-publish new version to NPM
- Draft [Github release](https://github.com/apach

[2018-04-30 20:56] #115 closed

[2018-05-01 08:56] roele commented on #113
Thanks for getting back @jthomas. I understand that this is currently not a priority. We ended up a manually transpiling it in the end.

[2018-05-23 14:54] starpit opened #117 "add User-Agent to request header"
the openwhisk npm does not support clients indicating their User-Agent origin. PR pending

[2018-05-23 15:04] starpit opened #119 "add support for retries"
in some scenarios, the connection to openwhisk may be unreliable. for example, certain versions of nodejs on linux yield routine ETIMEDOUT or ESOCKETTIMEOUT or ECONNRESET (especially the last one); all of these errors are transient, and can be addressed via retry.

i propose that we can support retries with only a few lines of code change, e.g. by wrapping the `rp` call in client.request with a `p

[2018-05-24 10:15] jthomas commented on #119
Implementing retry logic for connection errors is not normally the responsibility of the client library. This is not standard behaviour for client libraries. Responsibility for failure recovery errors should be handled by the client application.

[2018-05-24 13:10] starpit commented on #119
possibly, but every single user of this npm will face the issue, when talking on linux to ibm cloud.

[2018-05-25 08:31] #117 closed

[2018-06-25 13:17] #119 closed

[2018-06-25 13:17] starpit opened #120 "add `debug` calls?"
would it make sense to sprinkle the code with `debug` calls? personally, i would find this helpful for debugging.

[2018-06-26 07:43] jthomas commented on #120
This is a good idea. The `needle` library uses the `debug` package for a similar purpose.
https://www.npmjs.com/package/debug

I've used the `DEBUG=needle` flag before to get more dump the request/responses to the console but it doesn't include everything.

Do we want to follow that approach?

[2018-06-26 11:58] starpit commented on #120
yes. i think the main missing pieces from needle are the body of the request and of the response. needle also includes too much information generally (though sometimes the extra info helps). finally, if a program is using needle for more than one purpose, having the ability to log just our requests is helpful.

e.g. too much info, and yet too little:

[code]

[2018-06-26 15:17] jthomas commented on #120
LGTM, do you want to open a PR around this?

[2018-06-26 15:18] starpit commented on #120
yes, i'll try to get something in the next few days

[2018-06-30 09:48] trieloff opened #121 "actions.update ignores options.exec.image parameter"
As a consequence, `kind: blackbox` actions cannot be created, as the OpenWhisk API rejects the request as malformed.

Example:

[code]

yields:

[code]

[2018-07-12 15:49] jthomas opened #123 "3.16.0 release"
## release notes

### 3.16.0 (2018.07.12)

- Add `User-Agent` to request headers (#118)
- Fix `actions.update` ignoring `options.exec.image` parameter (#121)

## process

- `npm version patch` to bump `package.json` to 3.16.0
- Push version commit and git tags to Github
- Travis CI will auto-publish new version to NPM
- Draft [Github release](https://github.com/apache/incubator-openwhisk-client-js

[2018-07-12 15:53] #121 closed

[2018-07-16 08:06] #123 closed

[2018-07-18 07:45] trieloff commented on #123
@jthomas it looks like 3.16.0 has not been published to NPM yet. Have you updated your tokens on the CI system?

[2018-07-18 09:42] jthomas commented on #123
Good catch @trieloff. I can't see anything in the travis logs to see where the issue might be.

@csantanapr would you be able to have a look at this?

[2018-07-22 23:23] ScottChapman opened #125 "How does the `since` option work for activations?"
It looks like there is an option called `since` for activations, but not clear what the value should be exactly. Is it a timestamp? What format?

[2018-07-22 23:28] #125 closed, assigned to nobody

[2018-07-27 09:39] jthomas commented on #123
@csantanapr *nudge* welcome back ;)

[2018-07-27 21:00] csantanapr commented on #123
I will refresh the token to see if that’s the fix.

[2018-07-27 21:03] rabbah commented on #123
You might need 2fa.

[2018-07-27 21:13] csantanapr commented on #123
2fa it’s opt in

On Fri, Jul 27, 2018 at 5:03 PM rodric rabbah <notifications@github.com>
wrote:

[2018-07-27 21:16] csantanapr commented on #123
It’s looks like I can use 2fa in CI more info here https://docs.npmjs.com/getting-started/requiring-2fa-for-package-publishing-and-modification

[2018-08-13 15:41] jthomas opened #128 "Triggers should support the annotations parameter."
Trigger class has not implemented the annotations parameter, which was added to actions in #73. This is necessary for #49 to be completed.

[2018-08-16 19:08] csantanapr opened #131 "[feature] allow for a 3rd party auth handler plugin"
The OpenWhisk backend allows for SPI implementation to allow different methods of authentication. For example implementing an IAM (Identity Access Manager) for a provider, where the Whisk API can accept Bearer token for example.

I proposed we add an option to the library to take an optional parameter in the constructor to delegate the retrieval of the `Authorization Header`.
The handler will hand

[2018-08-17 08:28] #131 closed

[2018-08-20 19:49] csantanapr opened #133 "3.17.0 release"
## release notes

### 3.17.0 (2018.08.20)
- Update npm token use for deploy (#126)
- Add explicit call to routemgmt.yml in travis (#127)
- Fix types for blocking and result (#130)
- Add authHandler option to deal with authorization header (#132)

## process

- `npm version patch` to bump `package.json` to 3.17.0
- Push version commit and git tags to Github
- Travis CI will auto-publish new version

[2018-08-20 20:17] #133 closed

[2018-09-08 02:51] starpit opened #135 "namespace.list doesn't pass on user-agent header"
a simple fix of passing through the `options`

[2018-09-10 08:51] jthomas commented on #135
:+1: PR?

[2018-09-10 12:54] starpit commented on #135
yup, some time today i hope. also certain activation operations have the same issue.

i'm also thinking of adding a way to disable user-agent headers entirely. some servers (namely openwhisk itself :( ) do not support user-agent headers in their CORS config

[2018-09-11 13:45] #135 closed

[2018-09-13 02:23] starpit opened #137 "Error.captureStackTrace is not supported by firefox"
https://github.com/apache/incubator-openwhisk-client-js/blob/master/lib/openwhisk_error.js#L7

this line assumes that `Error.captureStackTrace` is defined. it is not on Firefox, and perhaps in other browsers. i suggest that we at least protect against it being undefined.

[2018-09-13 07:41] jthomas commented on #137
Interesting, I hadn't even thought about using the library from a browser, does it work? PR LGTM.

[2018-09-13 07:41] #113 closed

[2018-09-13 12:48] starpit commented on #137
yes indeed. the only limitation i see at this point is here:

https://github.com/apache/incubator-openwhisk/pull/4010

[2018-09-20 03:40] csantanapr opened #139 "include header x-namespace-id"
For deployments of OpenWhisk where the controller is enable with an authentication different than single master API Key, for example from sort of IAM identities.

For the use case of accessing public action (ie `/whisk.system/utils/echo`) the namespace located in the URL identifies the location of the action, but there is a need to identify the namespace of the caller.

Adding a header with `x-nam

[2018-09-27 15:57] #139 closed

[2018-09-27 17:15] csantanapr opened #141 "3.18.0 release"
## release notes

### 3.18.0 (2018.09.27)
- add header x-namespace-id (#140)
- protect against lack of Error.captureStackTrace (#138)
- fix missing pass-through of user-agent and add option noUserAgent (#136)

## process

- `npm version patch` to bump `package.json` to 3.18.0
- Push version commit and git tags to Github
- Travis CI will auto-publish new version to NPM
- Draft [Github release](http

[2018-12-11 19:24] macdonst opened #143 "Updating package parameters doesn't seem to take affect"
I'm attempting to update my package parameters while executing an action. Unfortunately, no matter what I try the parameters don't seem to be updated.

Here is some sample action code that illustrates the problem:

[code]

As well subsequent calls to this action do not show the updated `a` and `b` parameters I've attempted to add.

[2018-12-11 19:38] macdonst commented on #143
@starpit Yeah, I updated the code above as that was a copy and paste from my trashing trying to figure out what I was doing wrong. I have the same issue if I push new object into the parameters array.

As well, if I run the example code directly from here: https://github.com/apache/incubator-openwhisk-client-js#update-package-parameters I still get the same issue.

[2018-12-11 19:41] starpit commented on #143
you have tried `ow.packages.update({ name, package})`? your example has `ow.packages.update(pack)` which i think won't work.

[2018-12-11 19:42] macdonst commented on #143
@starpit here is a smaller example that still doesn't work that is based off the sample code from the README.

[code]

[2018-12-11 20:42] macdonst commented on #143
Yeah, using `ow.packages.update({ name, package})` has resolved the issue but I'm not sure why that would be different than `ow.packages.update(pack)` where pack is an object that has a name and parameters properties.

[2018-12-11 20:45] starpit commented on #143
yes, i agree that this API could be refined; it is not a reflexive API.

[2018-12-11 20:49] macdonst commented on #143
Okay, well I'm going to close this a user error :)

[2018-12-11 20:49] #143 closed

[2019-02-14 10:48] #141 closed

[2019-02-15 04:31] shazron opened #144 "`packages/refresh` is missing"
Exists in the go client:
https://github.com/apache/incubator-openwhisk-client-go/commit/0da9b27e45c97d68eaa976a21dc581aa449765da#diff-c1680fb631152dc4662ea9b2b980680b

[2019-02-15 05:23] rabbah commented on #144
it should actually be removed from the go client - it's a left over bit from pre-apache days and has no effect in openwhisk.

[2019-02-15 05:23] rabbah commented on #144
See https://github.com/apache/incubator-openwhisk-cli/issues/119

[2019-02-15 06:47] shazron commented on #144
Thanks for the clarification!

[2019-02-15 06:47] #144 closed

[2019-02-15 06:51] shazron commented on #144
@rabbah since I have your attention, what about `wsk package bind`, is that still relevant?

[2019-02-15 06:53] rabbah commented on #144
That is a valid command for creating a package binding.

[2019-02-16 01:36] karanrk opened #145 "How to set http proxy in openwhisk sdk through nodejs js client"
I am trying to set http proxy agent from nodejs client but i don't see any relevant config api that would help me to set the proxy agent.

I was looking for something like this
 openwhisk.config.httpOptions.agent= new HttpsProxyAgent(url.parse(proxy));

but the above one fails since there is no httpOption in openwhisk.

[2019-02-18 17:52] jthomas commented on #145
This client library uses the [Needle HTTP client](https://github.com/tomas/needle) to interact with the OpenWhisk platform API. Looking at the HTTP client, it does seem to [support a HTTP proxy parameter](https://github.com/tomas/needle#request-options) but this option has not been implemented in the SDK.

If you want to have a go at submitting a PR to implement this option as a pass-thru to the l

[2019-02-19 22:22] karanrk commented on #145
@jthomas  I fixed it, will be submitting a PR soon!

[2019-02-20 11:37] jthomas opened #146 "Document annotation parameter need to access API key"
See https://github.com/apache/incubator-openwhisk/pull/4284 for related discussion.

API keys will now not be included in the runtime by default, meaning the SDK won't work without explicit keys or setting the annotation.

[2019-02-27 22:43] alexkli opened #148 "handle 429 responses with exponential backoff retries"
When using `openwhisk.action.invoke()` or other operations one can encounter HTTP 429 TOO MANY REQUESTS status code responses from [Openwhisk's rate limiting](https://github.com/jberstler/openwhisk/blob/master/docs/reference.md). It would be nice if the openwhisk js client can provide a retry mechanism out of the box.

The suggested approach is a exponential backoff. This was implemented e.g. here

[2019-02-27 22:53] alexkli commented on #148
Some thoughts on a possible implementation:
* AFAICS, a retry would have to be added in [Resources.operation()](https://github.com/apache/incubator-openwhisk-client-js/blob/master/lib/resources.js#L50) where it would apply to most operations (actions, triggers, ...).
* Maybe it's necessary to limit it to certain operations only (GETs, invoke + fire) or maybe not, since it's a generic HTTP mechanis

[2019-02-27 23:47] starpit commented on #148
FYI prior discussion: https://github.com/apache/incubator-openwhisk-client-js/issues/119

[2019-02-28 02:21] alexkli commented on #148
@starpit I saw it, but it was mentioning network level failures. I am quite explicitly interested in handling 429 rate limit errors, since we can get them consistently with too much traffic 😄

[2019-02-28 09:34] jthomas commented on #148
As discussed in #119, I didn't agree with introducing generic retry behaviour for all lower-level networking issues. However, I can see the case for a retry mechanism for explicit cases like the HTTP 429 returned by the platform API.

This should be turned off by default ("no surprises for the user and no breaking changes") and configurable through constructor options as @alexkli suggested. Expone

[2019-02-28 16:10] alexkli commented on #148
I could take a look at it next week, but I wouldn’t want to block any release for it :-)

[2019-03-01 05:33] alexkli commented on #148
Right, in the client.js. I missed that this is where the http request logic is actually implemented.

[2019-03-08 03:40] shazron opened #149 "Support adding your own cert and key (like the Go cli)"
I would like to add this support in a PR.

These options will be passed into the `client.js` constructor: https://github.com/apache/incubator-openwhisk-client-js/blob/c2de73b69db3c95fa874c009c5b9b92302eecbd8/lib/client.js#L84

... and these options will be set in the underlying `needle` module that will use them as `cert` and `key` options.

Any concerns?

[2019-03-08 03:43] shazron opened #150 "Support setting the apiversion (like the Go cli)"
I would like to add this support in a PR.

These options will be passed into the `client.js` constructor: https://github.com/apache/incubator-openwhisk-client-js/blob/c2de73b69db3c95fa874c009c5b9b92302eecbd8/lib/client.js#L84

... and this option will be passed to this function:
https://github.com/apache/incubator-openwhisk-client-js/blob/313fcec68f7393f245fd3bacf4fa512c56028bef/lib/client.js#L107

[2019-03-08 16:30] jthomas commented on #150
sounds fine - open the PR?

[2019-03-08 16:30] jthomas commented on #149
sounds fine - open the PR?

[2019-03-11 02:31] shazron commented on #150
Thanks! see #151

[2019-03-11 03:05] shazron commented on #149
Thanks! See #152

[2019-03-11 23:45] #150 closed

[2019-03-11 23:45] #149 closed

[2019-03-12 09:14] jthomas commented on #148
Hello @alexkli - do you know if you'll be able to submit a PR this week? No rush - but as some other PRs have come in I'm now thinking about getting that release out.

[2019-03-15 01:04] alexkli commented on #148
@jthomas Unfortunately no, some other priorities pushed this down on my list. With the right concurrency settings in openwhisk the 429 problem went away for us (at least for now). Still planning to take a look maybe in a few weeks.

[2019-03-20 11:25] rabbah opened #156 "update project name in NOTICE"
the NOTICE in this repo should use a project name that matches the DISCLAIMER, the latter is using "OpenWhisk JavaScript Client Library".

[2019-03-26 16:47] jthomas opened #157 "replace LICENSE.txt contents with original ASLv2"
Comments from mailing list on recent release...

"LICENSE has incorrect boilerplate example at bottom. It seems to
have been replaced with a concrete example of IBM. This should
probably be reverted to the original text of the ASLv2."

[2019-04-03 23:14] starpit opened #158 "node-proxy-agent adds a huge amount to load time and installed size"
the latest openwhisk npm increased load time tremendously. it also increased the npm install'd size from 1.1MB to 7.5MB

here is the time to load the top-level dependencies in client.js:

[code]

the last bit is the new dependence in the just-released openwhisk

+6.4MB and a huge increase in load time for a dependence that is optional. not to mention that needle supports proxies directly, does it

[2019-04-03 23:36] starpit commented on #158
it's also worth noting that the `tls` indirect dependence  (openwhisk -> proxy-agent -> pac-proxy-agent -> get-uri -> ftp -> tls) is seemingly incompatible with webpack builds (note how openwhisk is now loading an ftp library, potentially on each and every function invocation!)

[2019-04-08 09:53] jthomas commented on #158
oh damn - thanks for catching this @starpit. Let me look into this and get back to you. This is not ideal!

[2019-04-09 10:56] jthomas opened #159 "Add CI check to validate install size?"
Given the recent issue with install size increase (#158), should we add a CI check to validate the project deps haven't increased between versions with an explicit confirmation this was expected?

This comment shows how to do this for a project: https://github.com/ai/size-limit/issues/65#issuecomment-395982967

Could also compare against previous version size using this API: https://packagephobia.

[2019-04-09 10:57] jthomas opened #160 "Should we ship "built" version of library to NPM?"
Using tools like Rollup - we could produce a compiled version of the library and all dependencies. This would reduce the total download and initialisation time for the library, which is crucial in serverless environments.

[2019-04-09 10:58] jthomas commented on #158
Looking into this some more... it's clear adding the `proxy-agent` dependency causes an unacceptable increase in dependency size and load time. I do think supporting HTTP proxies is a valid requirement and we do want to still support this.

https://packagephobia.now.sh/result?p=proxy-agent

Install size has jumped from under 1MB to over 5MB.
https://packagephobia.now.sh/result?p=openwhisk@3.19.0

[2019-04-09 11:05] rabbah commented on #158
Since needle has some builtin proxy support and you can pass a custom http agent (documented on the npm page), does that work? Is that what you’re proposing?

[2019-04-09 11:12] jthomas commented on #158
@rabbah Yes, that's option 1). User would include proxy they require manually in their app deps and pass that instance to the OW constructor, which we'd pass through to needle.

[2019-04-09 11:21] jthomas commented on #159
There's also this tool to help with this (https://github.com/siddharthkp/cost-of-modules) and this comment (https://github.com/siddharthkp/cost-of-modules/issues/51)

[2019-04-09 11:26] csantanapr commented on #158
I agree remove lib dependency and document 2 things with simple example how to initialize ow
1) how to configure needle proxy
2) how to configure custom proxy such as http-agent

[2019-04-09 11:31] jthomas commented on #158
FYI @karanrk

[2019-04-09 13:00] starpit commented on #158
fwiw, the way i debug load time is by adding a `debug` call between each `require`. this is how i got the +xxx ms data above (the numbers were quite stable across runs). there is already an open issue for adding `debug` calls more generally #120, maybe we can piggyback these interstitial load-time calls on that work item.

then, a fairly straightforward script along with some basic quotas would le

[2019-04-10 16:35] jthomas opened #162 "Source files should have full rather than short license header."
See http://apache-incubator-general.996316.n3.nabble.com/VOTE-Release-Apache-OpenWhisk-Client-JS-incubating-3-19-0-tp62792p63015.html

[2019-04-10 16:56] #156 closed

[2019-04-16 04:43] shazron opened #164 "3.19.0 tag is missing in the repo"
npm has the 3.19.0 version as published, but no tag exists in this repo. https://www.npmjs.com/package/openwhisk

Expected:
3.19.0 tag exists

Actual:
3.19.0 tag does not exist

[2019-04-23 00:48] shazron opened #165 "Support passing annotations for rules"
Related: https://github.com/apache/incubator-openwhisk-cli/issues/426

I inspected the `rules` code and there doesn't seem to be any code that will pass on annotations.

Looks like `ruleBody`:
https://github.com/apache/incubator-openwhisk-client-js/blob/e772a2fd0811f4a2c7a0cc4e832c4d08e192b320/lib/rules.js#L35
should accept annotations in the options like `actions.js`:
https://github.com/apache/in

[2019-04-23 07:01] erezh16 commented on #165
It seems this issue is focused on the JS client (unlike #426).
1. Can you please fix the title to reflect that?
2. I guess this warrants a broader review of this aspect (supporting annotations for rules) in additional client libraries - Python, Go, etc.

[2019-04-23 07:45] shazron commented on #165
1. The issue is filed in the incubator-openwhisk-client-js repo, so I'm not sure why we need to distinguish further. Seems redundant to me?
2. This feature is actually needed since `wskdeploy` does support annotations for rules. See https://github.com/apache/incubator-openwhisk-wskdeploy/blob/master/specification/html/spec_shared_entity_schema.md#shared-entity-schema

[2019-05-07 10:10] jthomas commented on #165
@shazron You are right - it looks like the JS SDK has missed this feature. Would you like to open a PR?

[2019-05-08 16:14] jthomas opened #166 "Build is failing due to scancode issue"
[code]

See https://travis-ci.com/jthomas/openwhisk-client-js/builds/107836931

[2019-05-17 12:37] trieloff opened #168 "Annotations for sequences require unwieldy workarounds"
The intuitive way of adding annotation to a sequence is this:

[code]

but the implementation of the client currently assumes that passing an `options.action` object means that the developer intends to build the whole request body themselves, which means the required call would be:

[code]

While this might not be strictly a bug, it is clearly inconvenient and hard to get right without some assist

[2019-06-20 16:33] jthomas opened #169 "NPM package must follow all ASF guidelines"
See here (https://cwiki.apache.org/confluence/pages/viewpage.action?pageId=109454613):

[code]
These are the things to resolve...

- [ ] Package should be published as `apache-openwhisk` not `openwhisk`

Releases are created from the repos tags which correspond to official releases.

[2019-06-24 10:07] #166 closed

[2019-06-24 10:09] jthomas opened #170 "Build is broken: Default Node.js version changed from 6 to 10."
https://travis-ci.org/apache/incubator-openwhisk-client-js/builds/533726071

[code]

[2019-06-24 13:15] #170 closed

[2019-06-24 14:10] jthomas commented on #157
Fixed!

[2019-06-24 14:10] #157 closed

[2019-06-24 17:46] starpit opened #173 "main.d.ts (typescript declarations) are a missing some optional arguments"
for example, `namespace.list` accepts an `options` optional argument, but main.d.ts specifies `namespace.list()`

[2019-06-25 12:21] jthomas opened #174 "Remove `version` option from actions"
See https://github.com/apache/incubator-openwhisk-client-js/pull/172#discussion_r297130672

[2019-06-25 12:24] #168 closed

[2019-06-25 14:55] jthomas opened #176 "Integration tests are broken with feed testing failing."
[code]

[2019-06-25 14:57] jthomas opened #177 "Update package dependencies to latest versions."
`npm audit` is listing several issues due to ava.js dependency being very old.

[code]

Need to update to latest version of package deps and check tests all still work. Could also look at adding Github bot to submit PRs when things change?

[2019-06-26 16:31] #158 closed

[2019-07-01 13:22] jthomas opened #179 "Add CI/CD tools for NPM module dependency management."
e.g Greenkeeper & Synk.

[2019-07-03 09:26] jthomas opened #181 "CI/CD pipeline should test on all Node.js versions in runtime-nodejs"
Currently we are only running on Node.js 6, whereas the runtime publishes 6->8->10->12 (with 6 to be removed soon).

[2019-07-05 15:54] #176 closed

[2019-07-05 15:59] jthomas commented on #179
Opened an INFRA ticket to do this: https://issues.apache.org/jira/browse/INFRA-18705

[2019-07-12 16:12] #177 closed

[2019-07-12 16:12] #159 closed

[2019-07-15 15:08] jthomas commented on #160
Doing some more research into this... I don't think it's worth it.

Most of the package size (<95%) comes from the external dependency (needle) and its dependencies, rather than the the project code. Bundling and shipping external dependencies in the published library code is not compatible with ASF rules on releases. This means there will be minimal benefits from doing the bundling for the projec

[2019-07-15 15:08] #160 closed

[2019-07-15 15:12] jthomas commented on #169
- [ ]  The readme tab needs to include the text of the incubation disclaimer.
- [ ]  npm install apache<project> should not install an artefact containing unapproved code.
- [ ]  The latest release should not point to an artefact containing unapproved code e.g. a release candidate or snapshot.
- [ ]  Release candidates, nightlys or snapshots need to be clearly tagged.
- [ ]  The license field shou

[2019-07-15 15:16] #162 closed

[2019-07-15 16:12] jthomas commented on #169
Sent an email to the dev-list about the naming issue. All other requirements have been satisfied.

[2019-07-16 09:23] #35 closed

[2019-07-16 09:24] jthomas commented on #173
@starpit I'm working on the next release shortly - if you want to submit a PR for this - I can get it merged and released...

[2019-07-16 09:24] #145 closed

[2019-07-16 13:44] #181 closed

[2019-07-16 13:46] jthomas commented on #179
INFRA said no. Waiting for clarification on this rule after emailing the mailing list...

[2019-07-16 13:48] jthomas commented on #137
This is now fixed.
https://github.com/apache/incubator-openwhisk-client-js/blob/master/lib/openwhisk_error.js#L21-L24

[2019-07-16 13:48] #137 closed

[2019-07-16 14:13] #165 closed

[2019-07-22 15:31] jthomas commented on #128
Implemented.

[2019-07-22 15:31] #128 closed

[2019-07-25 05:29] shazron commented on #164
@jthomas FYI before you cut the new release. Probably steps 13 and on were accidentally skipped: https://github.com/apache/incubator-openwhisk-release/blob/master/docs/release_instructions.md

[2019-07-31 21:22] dgrove-oss commented on #164
I added the 3.19.0 tag to the commit that matches the approved release per the voting thread.

[2019-07-31 21:22] #164 closed

[2019-08-06 16:38] jthomas opened #191 "Remove use of whisk.system packages in integration tests"
Assumes these packages are installed when testing against different OW instances. Replace with manually created and controlled actions in a namespace.

[2019-11-09 16:37] #169 closed

[2019-12-31 04:33] rabbah opened #197 "result only action invokes are not setting proper query parameter"
The library is treating a result only invoke as a blocking invoke and then projecting the response. The API supports the result projection on the server side with `?result=true`.

[2020-01-11 21:39] rabbah opened #198 "blocking invoke that is demoted is not handled correctly"
The action invoke handler for a blocking request is:
https://github.com/apache/openwhisk-client-js/blob/3cd025738f740080fc3d7b971f500a977914c568/lib/actions.js#L45-L52

But if the result of the activation is converted to a non-blocking activation, the result is an `{ activationId }` only and this code will fail.

A potential fix:

[code]

[2020-01-20 15:40] #93 closed

[2020-01-21 02:39] machenity opened #200 "Error occurrs in typescript project"
Using this in typescript project occurs error:
[code]

<img width="1303" alt="스크린샷 2020-01-21 오전 11 30 10" src="https://user-images.githubusercontent.com/16838736/72770710-048bcb80-3c42-11ea-8f59-c8484665f4c8.png">

I guess It is because swagger-schema-official is a devdependency of openwhisk, and `npm install` doesn't install the devdependencies of the dependencies.
Are there any ways to

[2020-01-31 22:04] rabbah opened #202 "Allow clients to override the namespace for the api gateway APIs"
The Route class hard codes `whisk.system` as the namespace hosting the API gateway API. This does not allows clients to override the base API path.

[2020-01-31 23:25] #202 closed

[2020-02-01 16:12] rabbah commented on #198
Closed by #199.

[2020-02-01 16:12] #198 closed

[2020-02-21 21:58] DrewML commented on #200
@machenity ran into this today as well.

A simple fix for your project is to include `@types/swagger-schema-official` as a `devDependencies` entry in your project's `package.json`, but that's more of a hack since you're putting a direct dependency on what's really a transitive dependency - versioning could get weird.

For projects that publish external type definitions (like `openwhisk-client-js`)

[2020-02-25 01:40] machenity commented on #200
@DrewML Thanks for your kind answer! I just installed `@types/swagger-schema-official` manually.
Has this project been discussed for exporting a declaration file to DefinitelyTyped?

[2020-02-26 17:11] DrewML commented on #200
No problem!

To be honest I'm not totally sure - I'm pretty new to OpenWhisk myself.

Maybe something that @rabbah might know?

[2020-03-10 15:41] DrewML commented on #200
@rabbah That would be pretty awesome 😄. Any idea if there would be pushback from other folks involved in the project? Technically can go the full `.ts` file route, but we can also use `tsc` to type check jsdoc-style comments ([source](https://www.typescriptlang.org/docs/handbook/type-checking-javascript-files.html#supported-jsdoc)) if that would make adoption more palatable.

[2020-03-10 16:27] rabbah commented on #200
I think it would be welcomed - if you're interested, I'd suggest sending a note to the project dev list (dev@openwhisk.apache.org) where community members could then more broadly participate.

What's important is to note that this package is used a lot both by the project and others downstream, so being mindful that compatibility is important.

[2020-03-27 05:32] tripodsan opened #207 "Propagate __OW_TRANSACTION_ID when invoking actions"
The javascript runners honour the `x-request-id` header by propagating its value to `process.env.__OW_TRANSACTION_ID`. this allows to easily track a set of actions that are invoked _within one transaction_.

Unfortunately, the `process.env.__OW_TRANSACTION_ID` is not sent along when using the openwhisk js client. all it would need is to set the `x-request-id` header accordingly when invoking an ac

[2020-05-04 21:45] #207 closed

[2020-05-27 08:29] Himavanth opened #211 "Unable to create trigger with feed"
I am using code from the example provided.
[code]
The error i get is "Resource representation is only available with these types: text/html; charset=UTF-8"

[2020-07-15 07:50] robrat opened #212 "Unable to create web and web-secure action"
The `wsk` cli offers the parameters `web` and `web-secure` to create/update actions that are reachable via https with optional secret. I haven't found an equivalent in the documentation nor in the js actions api. How can I create actions with web=true and a web secret?

[2020-07-22 13:23] robrat commented on #212
The debug output of the wsk cli was very misleading as it showed the annotations that were sent to the openwhisk endpoint differently.

I found the names and values of the annotations here: https://github.com/apache/openwhisk/blob/master/docs/annotations.md#annotations-specific-to-web-actions

With these information I created the annotation like this
[code]
which results in a public endpoint that

[2020-07-22 13:23] #212 closed

[2020-07-22 14:52] rabbah commented on #212
Thanks @robrat!

[2020-08-04 19:19] tysonnorris opened #213 "OpenWhiskError message missing activation id"
When an activation fails a message like `POST <url> Returned HTTP 502 (Bad Gateway) --> "The action did not produce a valid response and exited unexpectedly."`, but the caller has no indication of the activation id.

It would help if the error message included the activation id and the transaction id, to help developers debug issues.

[2020-08-05 01:21] style95 commented on #213
+1

[2020-10-29 00:13] starpit opened #214 "typings do not allow for nodejs:10 action kind"
only nodejs:6 and nodejs8 are accounted for

[2020-10-29 00:24] starpit commented on #214
@dgrove-oss suggests changing this to have `type Kind = string` rather than trying to keep this module in sync with ... upstream openwhisk but also with whatever manifest a particular provider may have imposed.

[2020-10-29 15:29] #214 closed

[2021-02-27 15:01] Nimra2212 commented on #191
You means we need to remove "feedName: '/whisk.system/alarms/alarm'," from integration test file right?

[2021-02-27 15:01] Nimra2212 commented on #191
@jthomas You means we need to remove "feedName: '/whisk.system/alarms/alarm'," from integration test file right?

[2021-04-06 12:28] jthomas opened #221 "Typescript types incorrect: Missing 'main' property from Action.Exec"
https://github.com/apache/openwhisk-client-js/blob/7fd311f58c3c50a4f698a69bf8ae4f036cf50f78/lib/main.d.ts#L248-L252

Should have an optional `main` attribute used to set the function handler for the action code. As seen in action here: https://github.com/apache/openwhisk-runtime-nodejs/blob/master/core/nodejsActionBase/runner.js#L32

Will submit a PR.

[2021-12-15 21:55] purplecabbage opened #230 "service requests modify query string with every retry"
This was also reported here: https://github.com/adobe/aio-cli-plugin-app/issues/504
The issue is that `client.js:rp` ( request promise wrapper) builds a query string and modifies the object reference url, so on every retry it gets longer..

`/api/v1/namespaces/ns/actions/pkg/action?overwrite=true`
`/api/v1/namespaces/ns/actions/pkg/action?overwrite=true?overwrite=true`
`/api/v1/namespaces/ns/actio

[2021-12-20 22:00] #230 closed

[2022-01-20 03:22] yukha-dw opened #234 "Missing parameter 'id' in actions.list()"
Hello, I am refactoring a javascript project to typescript and found out actions.list() doesn't support parameter 'id' even though it is being used as the output is filtered.

https://github.com/apache/openwhisk-client-js/blob/1aba396e8a59afd5a90acb8157f2009746d7a714/lib/main.d.ts#L60-L61

I'm not sure if the type of id is only optional string or something else. Thank you

[2022-08-15 17:38] dgrove-oss commented on #179
Policy changed; we have dependabot enabled for this repo.  Closing as done

[2022-08-15 17:38] #179 closed